@import "../../vars.scss";

.board-page {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0 auto;
}

.board-wrapper {
  height: 100%;
  max-height: 752px;
}

.board-card {
  margin: -2px;
  .row {
    display: flex;
    &:first-child {
      .cell {
        &:after {
          border-top: none;
          height: calc(100% - 2px);
        }
      }
    }
    &:last-child {
      .cell {
        &:after {
          border-bottom: none;
          height: calc(100% - 2px);
        }
      }
    }
    .cell {
      position: relative;
      outline: none;
      border-radius: 0;
      flex: 1 0 auto;
      position: relative;
      cursor: pointer;
      &:first-child {
        &:after {
          border-left: none;
          width: calc(100% - 2px);
        }
      }
      &:last-child {
        &:after {
          width: calc(100% - 2px);
          border-right: none;
        }
      }

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        top: 0;
        left: 0;
        border: 2px solid $green2;
      }
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 0;
      }
      .line {
        position: absolute;
        left: 0;
        top: -1px;
        width: calc(100% + 4px);
        border-top: 4px solid $dark-green;
        transform-origin: top left;
        transform: scale(0);
        z-index: 10;
        &.winner-line {
          animation: animated-line 0.05s linear forwards;
        }
        &.line-0 {
          animation-delay: 0.05s;
        }
        &.line-1 {
          animation-delay: 0.1s;
        }

        &.line-2 {
          animation-delay: 0.15s;
        }

        &.line-3 {
          animation-delay: 0.2s;
        }
        &.line-4 {
          animation-delay: 0.25s;
        }
        &.vertical-winner {
          rotate: 90deg;
          left: 50%;
          margin-left: 2px;
        }
        &.horizontal-winner {
          left: -1px;
          top: 50%;
          margin-top: -2px;
        }
        &.diagonal-left-winner {
          rotate: 45deg;
        }
        &.diagonal-right-winner {
          rotate: 135deg;
          left: 100%;
        }
      }
    }
  }
}

.buttons-wrapper,
.players-wrapper {
  width: 200px;
  @media screen and (max-width: 767px) {
    width: 30px;
  }
}

.buttons-wrapper {
  margin-right: 24px;
  @media screen and (max-width: 767px) {
    margin-right: 12px;
  }
  .board-buttons {
    > div {
      flex: 1;
      margin-bottom: 16px;
      @media screen and (max-width: 767px) {
        margin-bottom: 8px;
      }
    }
    .btn {
      @media screen and (max-width: 767px) {
        width: 30px;
        height: 30px;
        min-height: 0;
        font-size: 0;
        padding: 0;
      }
      .icon {
        width: 22px;
        @media screen and (min-width: 768px) {
          display: none;
        }
      }
    }
  }
}

.players-wrapper {
  margin-left: 24px;
  @media screen and (max-width: 767px) {
    margin-left: 12px;
  }
  .players {
    > div {
      padding: 4px 12px;
      @media screen and (max-width: 767px) {
        padding: 5px 0;
      }
    }
  }

  .player {
    font-weight: 600;
    border-radius: 4px;
    font-size: 20px;
    color: $dark-green;
    text-align: center;
    border: 2px solid transparent;
    margin-bottom: 4px;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
  .player-name {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .active-player {
    border-color: white;
    color: white;
    font-size: 22px;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}

@keyframes animated-line {
  100% {
    transform: scale(1);
  }
}
