@import "../../vars.scss";

.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: white;
  border-radius: 8px;
  color: $black;
}

.modal-header,
.modal-footer {
  padding: 16px 24px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  button {
    margin: 0 6px;
    width: auto;
    &:last-child {
      margin-right: 0;
    }
  }
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px 24px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}
