@import "../../vars.scss";

.color-picker {
  position: relative;
}
.color {
  width: 31px;
  height: 31px;
  border-radius: 50%;
}
.swatch {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid $border-color;
  cursor: pointer;
}
.popover {
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -85px;
  top: calc(100% + 12px);
  @media screen and (max-width: 767px) {
    left: auto;
    right: 0;
    margin-right: -36px;
  }
}
.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
